body {
  margin:0;
  background: radial-gradient(circle,#111,#000);
  color:white;
  font-family: system-ui;
}

.center {
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.card {
  background:#000;
  padding:30px;
  border-radius:20px;
  box-shadow:0 0 30px #0ff;
  text-align:center;
  width:300px;
}

input,button {
  width:100%;
  margin:8px 0;
  padding:10px;
  border-radius:10px;
  border:1px solid #0ff;
  background:#000;
  color:white;
}

button:hover {
  background:#0ff;
  color:black;
  cursor:pointer;
}

.mode.active {
  background:#0ff;
  color:black;
}

.room {
  border:1px solid #0ff;
  padding:6px;
  margin:5px;
  border-radius:10px;
}
