body{
  margin:0;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:radial-gradient(circle,#111,#000);
  color:white;
  font-family:Segoe UI;
}

.card{
  background:#000;
  border:1px solid #fff;
  padding:30px;
  box-shadow:0 0 20px #0ff;
  text-align:center;
}

input,button{
  margin:5px;
  padding:10px;
  background:black;
  color:white;
  border:1px solid white;
}

button:hover{
  box-shadow:0 0 10px #0ff;
}

.chat{
  margin-top:10px;
}
