body {
  background: radial-gradient(circle, #0a0f2c, #020414);
  font-family: sans-serif;
}

.card {
  background: #0f173f;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 40px #3b6cff;
}

button {
  font-size: 22px;
  padding: 12px 18px;
  margin: 8px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  background: #2d3cff;
  color: white;
  box-shadow: 0 0 15px #2d3cff;
  transition: 0.2s;
}

button:hover {
  transform: scale(1.08);
}
