body{
  background:linear-gradient(135deg,#02062c,#040b4f);
  color:white;
  font-family:sans-serif;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.card{
  background:#020829;
  padding:20px;
  border-radius:16px;
  width:300px;
  text-align:center;
}

button{
  padding:10px;
  margin:5px;
  border:none;
  border-radius:8px;
}

input{
  width:90%;
  padding:8px;
  margin:5px;
}

#chatBox{
  background:#000;
  height:100px;
  overflow:auto;
  margin-bottom:5px;
}
